# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
*.launch
.settings/
.project
.classpath
bin/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db

# Arquivos de ambiente/configuração
.env
config.properties
